useDynLib( bcv )

export( cv.svd.gabriel, 
        cv.svd.wold, 
        impute.svd, 
        plot.cvsvd, 
        print.cvsvd,
        summary.cvsvd
      )

S3method( plot, cvsvd )
S3method( print, cvsvd )
S3method( summary, cvsvd )
